.aside-menu {
    min-width: 265px;
    background-color: var(--clr-blue-night);
    height: 100vh;
}

.logo {
    color: var(--clr-white-light);
}

.aside-menu-link {
    color: var(--clr-white-light);
}